<!DOCTYPE html>
<html>
<head>
    <title>谢谢参与</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,  initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="renderer" content="webkit" />
    <style type="text/css">		div{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        width: 500px;
        height: 180px;
    }
    h1{
        font-weight: 100;
        color: #666;
        font-size: 36px;
        transition: all .3s;
        opacity: .8;
    }		p,a{
                     color: #666;
                 }
    span{color: green}
    </style>
</head>
<body>
<div>
    <h1><span>√</span>已完成，感谢参与</h1>
    <!--<p><a href="#">点击跳转到首页</a></p>-->
    <p>四川新华电脑学院Document &copy;2018 版权所有</p>
</div>
</body>
</html>