<div class="content">
    <form action="">
        <div class="classify">
            <!-- offset="0" length='20' 限定循坏出来的数据-->
            {volist name="topic" id="vo" offset="0" length='20' key="i"}
            <h4 class="title" style="color: black">{$i}.{$vo.topic}</h4>
            <div class="question-box radio_question" id="div{$i}" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[{$vo['id']}]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[{$vo['id']}]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[{$vo['id']}]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[{$vo['id']}]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[{$vo['id']}]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
            {/volist}
            <div class="question-box">
                <p class="question" id="div意见">其他意见</p>
                <textarea
                        style="resize:none"
                        name="intro"
                        id="intro"
                        cols="1"
                        rows="4"
                ></textarea>
            </div>
        </div>
        <input type="button" id="login" dataid="" name="commit" style="margin-left:150px; margin-bottom: 20px;" value="提交">
    </form>
</div>


