<div class="content">
        <form action="" method="post" name="form" id="myform">
        {volist name="topic" id="vo"}
        <?php
          $keys = $key;
        ?>
          <div class="classify" >
            <h4 class="title">{$keys}</h4>
            {volist name="vo" id="vi" key="i"}
                <div class="question-box">
                  <!--1为学生,2为老师-->
                  <p class="question">{$vi.topic}</p>
                  {if condition="$vi['topic']" neq ''}
                  <div class="question-answer radio_question" id="div{$i}">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[{$vi['id']}]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[{$vi['id']}]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[{$vi['id']}]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[{$vi['id']}]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[{$vi['id']}]" value="80"/><span>非常不满意</span></label></a>
                  </div>
                  {else /}
                  {/if}
                </div>
            {/volist}
                <div class="question-box">
                  <p class="question">其他意见</p>
                  <textarea
                      style="resize:none"
                      name="intro[{$keys}]"
                      id="intro"
                      cols="1"
                      rows="4"
                  ></textarea>
        {/volist}
                </div>
              </div>
          <input type="submit" id="login" name="commit"  data="{$count}" style="margin-left:150px; margin-bottom: 20px;" value="提交" >
          <input type="hidden" name="__token__" value="{$Request.token}" >
        </form>
      </div>
