<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="__index__/css/check.css" />
    <link rel="stylesheet" href="__index__/css/min.ui.css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="bg"></div>
        <h3>{$list['personnel']['name']}调查问卷</h3>
        {if condition="$list['personnel']['id'] eq 1 "}
        <p class="title2">班级:{$list['local_name']['name']}:{$list['class_name']['tname']}</p>
        {else /}
        <p class="title2">班级:{$list['local_name']['name']}:{$list['teacher_name']['tname']}</p>
        {/if}
        <h6>您好:</h6>
        <p class="descrip">
          欢迎参加学生满意度调查工作!
          此次调查是本校为了学生拥有更好的在校生活而专门设计的
          希望你抽出一点时间积极配合我们的调查工作,谢谢你的参与
        </p>
        <h6>说明:</h6>
        <p class="descrip">
          本次调查采用匿名形式,我们将严格保密你的信息
        </p>
      </header>
      <div class="content">
        <form action="" method="post" name="form" id="myform">
        {volist name="topic" id="vo" key="i"}
          <div class="classify">
            {if condition="$list['personnel']['id'] eq 1"}
            <h4 class="title">{$key}</h4>
            {/if}
            {volist name="vo" id="vi"}
                <div class="question-box">
                  <!--1为学生,2为老师-->
                  {if condition="$list['personnel']['id'] eq 1"}
                  <p class="question">{$vi.topic}</p>
                  {else /}
                  <p class="question">$vi</p>
                  {/if}
                  <div class="mui-numbox"
                      data-numbox-step="10"
                      data-numbox-min="0"
                      data-numbox-max="100" >
                    <button class="mui-btn mui-numbox-btn-minus" type="button">
                      -
                    </button>
                    <input class="mui-numbox-input" name="achievement[{$vi['id']}]" type="number" />
                    <button class="mui-btn mui-numbox-btn-plus" type="button">
                      +
                    </button>
                  </div>
                </div>
            {/volist}
                <div class="question-box">
                  <p class="question">其他意见</p>
                  <textarea
                      style="resize:none"
                      name="intro[]"
                      id="text"
                      cols="1"
                      rows="4"
                  ></textarea>
                </div>
              </div>
         {/volist}
          <input type="submit" id="login" onclick="format1()" name="commit" style="margin-left:150px; margin-bottom: 20px;" value="提交" >
        </form>
      </div>

    </div>
    <script src="__index__/js/jquery-3.4.1.js"></script>
    <script src="__index__/js/min.ui.js"></script>
    <script src="__admin__/style/jquery.js"></script>
    <script src="__admin__/style/jquery_002.js"></script>

  <script>
    //  判断不能为空
    window.onload = function() {
      var login = document.getElementById("login");
      var textarea = document.getElementsByTagName("textarea").innerText;
      login.onclick = function () {
        for (var i = 0; i<textarea.length; i++){
          // console.log(textarea[i]);
          // console.log(textarea[i].innerText);return false;
            if (textarea[i] == '') {
              alert('意见不能为空');
              return false;
            }else {
              $.ajax({
                url:"{:url('comp/add')}",
                type:'post',
                data:$('form').serialize(),
                dataType:'json',
                success: function (data) {
                  location.href = data.url;
                }
              });
              return false;
            }
          }
        };
    };
  </script>
  </body>
</html>
