<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="__index__/css/index.css" />
    <link rel="stylesheet" href="__index__/css/min.ui.css" />
  </head>
  <body>

    <div class="wrapper">
      <div class="check-box">
        <form action="{:url('comp/index')}" method="post" data-auto="true">
          <h3>新华电脑学校问卷调查</h3>
          <label for="">
            <span>调查方式:</span>
            <select required name="pid" id="survey">
              <option value=""  disabled selected>--请选择--</option>
              <!--<?php var_dump($personnel);?>-->

              {volist name="personnel" id="vo"}
                <option value="{$vo.id}">{$vo.pname}</option>
              {/volist}
            </select>
          </label>

          <label for="" class="hidden_class" style="display: none">
            <span>班级</span>
            <select name="lid" id="class">
              <option value="0" disabled selected >--请选择--</option>
              {volist name="local" id="class"}
                <option value="{$class.id}">{$class.name}</option>
              {/volist}
            </select>
          </label>
          <label for="" class="hidden_class" style="display: none">
            <span>教师</span>
            <select name="tid" id="teacher">
              <option value="">--请选择--</option>
            </select>
          </label>
          <button style="width: 100%; cursor: pointer;" id="login" type="submit" class="mui-btn mui-btn-primary">
            提交
          </button>
        </form>
      </div>
    </div>
    <script src="__index__/js/jquery-3.3.1.min.js"></script>
    <script src="__index__/js/min.ui.js"></script>
    <script src="__js__/layer/layer.js"></script>
    <script type="text/javascript">
      $(function () {
          $('#survey').change(function () {
              if($('#survey').val()=='') {
                  $(".hidden_class").hide();//隐藏
              }else{
                  $(".hidden_class").show();//显示
              }
              $('#class').val([0]);//每次用户选择不同的调查方式,就将班级给回复成默认值
              $('#teacher').empty();
          });
          $('#class').change(function () {
              var pid = $("#survey").val();
              var l = $("#class").val();
              $.post("{:url('index/teacher_local_select')}",{
                per_id:pid,
                id:l
              },function(data) {
                  $('#teacher').empty();
                $.each(data, function(key, val) {
                  if (pid == 1) {
                    $('#teacher').append('<option value="'+val.id+'">'+val.class_name+'</option>');
                  }else {
                    $('#teacher').append('<option value="'+val.id+'">'+val.teacher_name+'</option>');
                  }
                });
                  return false;
              });
          });
      });
      //   $('#login').click(function () {
      //     var pid = $("#survey").val();
      //     var lid = $("#class").val();
      //     var tid = $("#teacher").val();
      //     $.ajax({
      //       url:"{:url('comp/index')}",
      //       type:'post',
      //       data: {pid:pid,lid:lid,tid:tid},
      //       dataType:'json',
      //       success: function (data) {
      //         // console.log(data);return false
      //         if (data.code == 1) {
      //           layer.msg(data.msg,{icon:1,time:500}, function () {
      //             location.href = data.url;
      //           });
      //         }else {
      //           layer.msg(data.msg,{icon:2,time:1000});
      //         }
      //       }
      //     });
      //     return false;
      //   });
    </script>
  </body>
</html>
