<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>document</title>
    <link rel="stylesheet" href="__index__/css/index.css" />
    <link rel="stylesheet" href="__index__/css/min.ui.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="check-box">
        <form action="">
          <h3>新华电脑学校document</h3>
          <label for="">
            <span>查询方式:</span>
            <select>
              <option value="">
                老师调查
              </option>
              <option value="">
                学生调查
              </option>
            </select>
          </label>
          <label for="">
            <span>查询方式:</span>
            <select>
              <option value="">
                17三年软件三
              </option>
              <option value="">
                17三年软件四
              </option>
            </select>
          </label>
          <label for="">
            <span>查询方式:</span>
            <select>
              <option value="">
                周鹏
              </option>
              <option value="">
                王智
              </option>
            </select>
          </label>
          <button style="width: 100%; cursor: pointer;" type="button" class="mui-btn mui-btn-primary">
            提交
          </button>
        </form>
      </div>
    </div>
    <script src="__index__/js/min.ui.js"></script>
  </body>
</html>
