<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>员工满意度调查</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,  initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit"/>
    <link rel="stylesheet" href="__index__/css/staff.css">
</head>
<body>
<main>
    <div class="describe">
        <h1>员工满意度调查</h1>

    </div>
    <form action="{:url('staff/add')}" method="post">
        <div class="single-election">
            <p style="color:green">请对本月学院各部门工作情况进行评价,并提出可行性建议(小于或等于5分一下请说明情况,否则按废票处理)</p>
            <table id="select" cellspacing="0" cellpadding="0">
               <!-- <tr>
                    <td width="20%"></td>
                    <td width="8%">10</td>
                    <td width="8%">9</td>
                    <td width="8%">8</td>
                    <td width="8%">7</td>
                    <td width="8%">6</td>
                    <td width="8%">5</td>
                    <td width="8%">4</td>
                    <td width="8%">3</td>
                    <td width="8%">2</td>
                    <td width="8%">1</td>
                </tr>-->

                {volist name="res" id="vo"}
                <tr aria-selected="false">
                    <th>{$vo.topic}</th>
                    <th>
                    <select name="{$vo.id}" id="aa" style="width: 90px;height: 30px;">
                        <option value="0">--请选择--</option>
                        <option value="10">10</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                    </th>
                </tr>
                {/volist}

            </table>
            <div class="text-input">
               <!-- <p>其他建议:</p>-->
                <textarea required name="other" class="text"  placeholder="其他建议:" id="text" minlength="5" maxlength="300"></textarea>
            </div>
        </div>

        <div class="submit">

            <button type="submit">提交</button>
        </div>
    </form>
</main>
<script>
  function electionSelect(e) {
    if(e.target.nodeName!=='INPUT')return;
    var node = e.target.parentNode.parentNode;
    node.setAttribute('aria-selected',true);
    node.setAttribute('selected',true);
    node.classList.remove('warning')
  }
  document.querySelector('.single-election').addEventListener('click',electionSelect);
  var from = document.forms[0];
  from.addEventListener('submit', function (e) {
    e.preventDefault();
    var target = e.target;
    //var singleElection = target.querySelectorAll('.single-election  tr');
    var singleElection = target.querySelectorAll('.single-election  select');

    /*if(singleElection){
      for (var i=1;i<singleElection.length;i++){
          console.log(singleElection[i].getAttribute('aria-selected'));
          return ;
        if(singleElection[i].getAttribute('selected')!=='true'){
          singleElection[i].classList.add('warning');
          alert('请填写完整');
          return;
        }
      }
    }*/
    var text = document.querySelector('.text');
    if(text.value.length<5){
      return false;
    }
    var data = new FormData(target);
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange=function (ev) {
      if(xhr.readyState === 4){
        var status = xhr.status;
        if(status >= 200 && status <300 ){
          console.log('发送成功',xhr.response);
          location.href="{:url('yes/index')}";

        }else {
          console.log('发送失败');
            //location.href="{:url('yes/index')}";
        }
      }
    };
    // 地址
    xhr.open('POST','{:url('staff/add')}',true);
      xhr.send(data);
      /*    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");*/
  })
</script>
</body>
</html>