<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f

#   php?5.5???
#  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]

#   php?7.0???
  RewriteRule ^(.*)$ index.php [L,E=PATH_INFO:$1]
</IfModule>
