<div class="content">
    <form action="">
        <div class="classify">
            <!-- offset="0" length='20' 限定循坏出来的数据-->
                        <h4 class="title" style="color: black">1.老师一直仪表大方、举止得体吗？</h4>
            <div class="question-box radio_question" id="div1" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[1]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[1]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[1]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[1]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[1]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">2.老师上课时声音洪亮、运用普通话吗？</h4>
            <div class="question-box radio_question" id="div2" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[2]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[2]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[2]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[2]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[2]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">3.任课老师在上课前是否对班级学生点名?</h4>
            <div class="question-box radio_question" id="div3" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[3]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[3]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[3]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[3]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[3]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">4.老师在上课期间对课堂纪律是否严格管理?</h4>
            <div class="question-box radio_question" id="div4" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[4]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[4]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[4]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[4]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[4]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">5.老师上课从不接听手机吗?</h4>
            <div class="question-box radio_question" id="div5" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[5]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[5]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[5]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[5]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[5]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">6.老师从未有过迟到、早退或推迟下课现象吗？</h4>
            <div class="question-box radio_question" id="div6" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[6]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[6]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[6]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[6]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[6]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">7.老师对您提出的问题耐心解答吗？</h4>
            <div class="question-box radio_question" id="div7" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[7]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[7]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[7]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[7]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[7]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">8.老师运用案例是否符合市场需求？</h4>
            <div class="question-box radio_question" id="div8" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[8]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[8]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[8]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[8]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[8]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">9.授课过程中，老师是否经常提问并与学生交流？</h4>
            <div class="question-box radio_question" id="div9" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[9]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[9]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[9]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[9]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[9]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">10.授课过程中，你是否了解本门课程的授课目标和进度计划？</h4>
            <div class="question-box radio_question" id="div10" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[10]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[10]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[10]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[10]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[10]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">11.老师上课方法是否易于接受？</h4>
            <div class="question-box radio_question" id="div11" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[11]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[11]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[11]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[11]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[11]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">12.老师引导和启发，使你对课程产生兴趣并喜欢吗？</h4>
            <div class="question-box radio_question" id="div12" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[12]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[12]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[12]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[12]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[12]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">13.老师是否经常关注学生对教学内容的掌握程度？</h4>
            <div class="question-box radio_question" id="div13" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[13]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[13]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[13]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[13]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[13]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">14.老师布置的作业与本节课教学内容结合紧密吗？</h4>
            <div class="question-box radio_question" id="div14" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[14]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[14]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[14]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[14]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[14]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">15.老师对布置作业完成情况是否过问？</h4>
            <div class="question-box radio_question" id="div15" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[15]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[15]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[15]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[15]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[15]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">16.老师经常联系实际，注重学生能力及素质培养吗？</h4>
            <div class="question-box radio_question" id="div16" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[16]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[16]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[16]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[16]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[16]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">17.老师的授课对你是否有吸引力？</h4>
            <div class="question-box radio_question" id="div17" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[17]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[17]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[17]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[17]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[17]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">18.每堂课教学目标和任务明确吗？</h4>
            <div class="question-box radio_question" id="div18" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[18]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[18]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[18]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[18]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[18]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">19.老师对教学设备的使用是否熟练？</h4>
            <div class="question-box radio_question" id="div19" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[19]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[19]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[19]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[19]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[19]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <h4 class="title" style="color: black">20.老师授课认真负责，从不把正课时间安排自习</h4>
            <div class="question-box radio_question" id="div20" aria-selected="fasle">
                <!--1为学生,2为老师-->
                <div class="question-answer">
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[20]" value="100"/><span>非常满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[20]" value="95"/><span>满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[20]" value="90"/><span>一般</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[20]" value="85"/><span>不满意</span></label></a>
                    <a href="javascript:void(0)"><label><input type="radio" name="achievement[20]" value="80"/><span>非常不满意</span></label></a>
                </div>
            </div>
                        <div class="question-box">
                <p class="question" id="div意见">其他意见</p>
                <textarea
                        style="resize:none"
                        name="intro"
                        id="intro"
                        cols="1"
                        rows="4"
                ></textarea>
            </div>
        </div>
        <input type="button" id="login" dataid="" name="commit" style="margin-left:150px; margin-bottom: 20px;" value="提交">
    </form>
</div>


